/*001*/

body {
    background-color: burlywood;
}


/*001*/

h1 {
    text-align: center;
}


/*001*/

h2 {
    display: none;
}


/*001*/

label {
    display: none;
}


/*001*/

footer {
    text-align: center;
}


/*001*/

main {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 10% 10% auto auto auto;
    width: 30em;
    height: 35em;
    margin: 0 auto;
    padding: 0.3em;
    background-color: #D0D0D0;
}


/*011*/

input[type="text"] {
    text-align: right;
    border-style: none;
    font-weight: 600;
    font-size: 1.5em;
    color: black;
    background-color: #D0D0D0;
    margin-bottom: 0.3em;
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: 4;
}


/*011*/

input[type="button"] {
    border-style: none;
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    background-color: #E2E2E2;
    width: 97%;
    height: 97%;
    margin: 0 auto;
}


/*011*/

input[type="button"]:hover {
    color: white;
    background-color: #525252;
}


/*011*/

input[name="memoria"] {
    font-size: 0.9em;
    color: black;
    background-color: #D0D0D0;
    margin: 0 auto;
}


/*011*/

input[name="numero"] {
    color: black;
    font-weight: bolder;
    font-size: 1.4em;
    background-color: #F2F2F2;
    margin: 0 auto;
}


/*001*/

aside {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: 5;
}


/*012*/

aside>input[type="button"] {
    width: 5em;
    background-color: #D0D0D0;
}


/*011*/

section:nth-child(2n) {
    display: inline;
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: #BEBEBE;
}


/*013*/

main>section>input[value="Trigonometría ↓"] {
    width: 40%;
    height: 90%;
    background-color: #BEBEBE;
}


/*012*/

section:nth-child(2n)>section {
    display: none;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    position: absolute;
    background-color: #f1f1f1;
    width: 25em;
    height: 5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}