/*001*/

body {
    font: 400 1.1em Tahoma, sans-serif;
    background-color: #FFE6A7;
    display: flex;
    flex-direction: column;
}


/*001*/

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}


/*001*/

main {
    width: 100%;
    height: 50vw;
}


/*001*/

footer {
    text-align: center;
}


/*001*/

input {
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #99582A;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}


/*001*/

label {
    display: none;
}