/*001*/

body {
    font: 400 1.1em Tahoma, sans-serif;
    background-color: #FFE6A7;
    text-align: center;
}


/*001*/

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}


/*001*/

h2 {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding: 0.5em
}


/*001*/

h3 {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding: 0.5em
}


/*001*/

h4 {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding: 0.5em
}


/*001*/

p {
    padding-left: 5%;
    padding-right: 5%;
}