/*001*/

body {
    background-color: burlywood;
    display: grid;
    grid-template-areas: "header header" "calculadora guia" "footer footer";
    column-gap: 5em;
}


/*001*/

h1 {
    text-align: center;
    grid-area: header;
}


/*001*/

h2 {
    text-align: center;
}


/*001*/

footer {
    text-align: center;
    grid-area: footer;
}


/*001*/

main {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 20em;
    height: 35em;
    margin: 0 auto;
    background-color: #1F2E37;
    padding: 1em;
    border-radius: 1em;
    grid-area: calculadora;
}


/*001*/

article {
    background-color: #99582A;
    color: white;
    width: auto;
    height: 100%;
    border-radius: 1em;
    grid-area: guia;
    font-size: 1.2em;
}


/*001*/

p {
    padding: 0.5em;
}


/*001*/

textarea {
    resize: none;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: 3;
}


/*001*/

label {
    display: none;
}


/*011*/

input[type="button"] {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    color: black;
    background-color: #A9C2D1;
    border-radius: 0.3em;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/*011*/

input[value="Enter"] {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #586A75;
    margin: 0 auto;
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
}


/*011*/

input[name="operacion"] {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    color: black;
    background-color: #ff0f0f;
    margin: 0 auto;
}


/*011*/

input[name="aritmetico"] {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    color: white;
    background-color: #586A75;
    margin: 0 auto;
}